<mat-toolbar color="primary">
    <mat-toolbar-row class="row between-xs">
        <nav>
            <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
            <a mat-button routerLink="/products" routerLinkActive="active">Productos</a>
            <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
        </nav>
        <a routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
            <mat-icon>shopping_cart</mat-icon>
            Carrito
        </a>
    </mat-toolbar-row>
</mat-toolbar>